@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Memo Logistics</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Memo Logistics</h2>
        <p>
            Memo Logistics is a sample application that
            demonstrates how to use Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build a route</h2>
        <p>
            You can calculate the distance
            and build the route of the truck using Google Maps.</p>
        <p><a class="btn btn-default" href="https://www.google.com.ua/maps">Google Maps &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find a driver</h2>
        <p>You can find a driver using the job search site</p>
        <p><a class="btn btn-default" href="https://rabota.ua/employer/find/cv_list?keywords=%D0%92%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D1%8C+%D0%B3%D1%80%D1%83%D0%B7%D0%BE%D0%B2%D0%B8%D0%BA%D0%B0%2C&period=7&sort=date">rabota.ua &raquo;</a></p>
    </div>
</div>